.page-content{
    font-family: 'Inter';
    font-style: normal;
    float:right; 
    width:96%; 
    // height: 100vh;
}

.page-side-bar{
    float:left; 
    width:4%;
    // position: absolute;
    bottom: 0;
    // height: 100vh;
    background-image: url('../../assests/images/side_nav.svg');
    // background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat-y;
}

.outer-margin{
    padding-top: 1%;
}

.title-row{
    padding-top: 0%;
    padding-bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 6px rgba(16, 24, 40, 0.06);
}

.job-title{
    text-align: left;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #101828;
}

.user-menu{
    text-align: left;
    padding-top: 0.4%;
}

.user-menu-icon{
    align-items: center;
}

.call-action{
    border-radius: 200px;
    text-align: right;
    padding: 27%;
    cursor: pointer;
}

::ng-deep .report-window-class .modal-dialog{
    position: fixed;
    z-index: 1050;
    max-width: 40%;
    width: 40%;
    left: 30%;
    top: 10%;
}

.checkers-modal{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.checkers-header-icon{
    background: #D1FADF;
    /* Success/50 */

    border: 8px solid #ECFDF3;
    border-radius: 28px;
}

.checkers-header{
    font-size: 20px;
    font-weight: bold;
}

.checkers-sub-header{
    font-size: 13px;
}

.checker-item{
    padding-top: 5%;
    padding-bottom: 5%;
}

.checker-action{
    padding: 3%;
}

video{
    width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px;
}