.App {
  padding: 1rem;
}

.page-content{
  font-family: 'Inter';
  font-style: normal;
  float:right; 
  width:96%; 
  height: 100vh;
}

.page-side-bar{
  float:left; 
  width:4%;
  position: absolute;
  bottom: 0;
  height: 100vh;
  background-image: url('../assests/images/side_nav.svg');
  // background-repeat: no-repeat;
  background-repeat: repeat-y;
}